<div class="user-management-container">
    <div class="user-management-header">
        <h2>Total Users: {{ users.length }}</h2>
        <div class="user-actions">
            <button class="action-btn" (click)="showConductors()">Show Conductors</button>
            <button class="action-btn" (click)="showPassengers()">Show Passengers</button>
            <button class="action-btn" (click)="showAll()">Show All</button>
        </div>
    </div>

    <div class="user-list-header">
        <div>Username</div>
        <div>Email</div>
        <div>Roles</div>
        <div>Registered On</div>
        <div>Actions</div>
    </div>

    <div class="user-list">
        @for (user of displayUsers; track $index) {
            <div class="user-row">
                <div>{{ user.username }}</div>
                <div>{{ user.email }}</div>
                <div>{{ user.roles }}</div>
                <div>{{ user.registeredOn }}</div>
                <div class="actions">
                    @if (user.roles === 'conductor') {
                    <button class="btn action-btn" (click)="showBus(user)">Show Bus</button>
                    <button class="btn action-btn" (click)="showTicket(user)">Show Ticket</button>
                    }
                    @if (user.roles==='passenger'){
                    <button class="btn action-btn" (click)="showTicket(user)">Show Ticket</button>
                    }
                    @if(user.roles!=="admin")
                    {
                        <button class="btn delete-btn" (click)="delete(user)">Delete</button>
                    }
                </div>

            </div>
            @if (activatedBusPanel && selectedUser === user) {
            <div class="panel">
                <app-show-bus [user]="selectedUser" (closeChild)="closeBusPanel()"></app-show-bus>
            </div>
            }
            @if (activatedTicketPanel && selectedUser === user) {
            <div class="panel">
                <app-show-ticket [user]="selectedUser" (closeChild)="closeTicketPanel()"></app-show-ticket>
            </div>
            }
        }
    </div>
</div>