
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  .nav-logo {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: -20px;
    margin-top: -15px;
  }
  
  .logo {
    height: 50px;
  }

  .nav-right {
    display: flex;
    gap: 10px;
  }

  .nav-button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    color: #333;
  }

  .nav-button:hover,
  .nav-button.active-link {
    background-color: #e9ecef;
    color: #007bff; 
  }

  .nav-button:focus {
    background-color: #007bff;
    color: #fff;
  }

  