<div class="bus-list-container">
    <div class="bus-list-header">
        <div>Bus Number</div>
        <div>Vendor</div>
        <div>Source</div>
        <div>Destination</div>
        <div>Date of Journey</div>
        <div>Time of Boarding</div>
        <div>Time of Dropping</div>
        <div>Booked Seats</div>
        <div>Total Seats</div>
        <div>Price</div>
        <div class="action">Actions</div>
    </div>

    <div class="bus-list">
        @for (bus of buses; track $index) {
        <div class="bus-item">
            <div>{{ bus.busNumber }}</div>
            <div>{{ bus.vendorName }}</div>
            <div>{{ bus.source }}</div>
            <div>{{ bus.destination }}</div>
            <div>{{ bus.dateOfJourney }}</div>
            <div>{{ bus.timeOfBoarding }}</div>
            <div>{{ bus.timeOfDropping }}</div>
            <div>{{ bus.bookedSeats }}</div>
            <div>{{ bus.totalSeats }}</div>
            <div>{{ bus.price }}</div>
            <div class="actions">
                <button (click)="deleteBus(bus)">Remove Bus</button>
                <button (click)="seePassengers(bus)">See Passengers</button>
            </div>
            @if (activatedTicket && selectedBus) {
                <div class="passenger-panel">
                    <app-bus-passengers [bus]="selectedBus" (closeChild)="closePanel()"></app-bus-passengers>
                </div>
            }
        </div>
    }
    </div>
</div>
