<div>
    <table>
    <tr>
        <td>{{activeBus.busNumber}}</td>
        <td>{{activeBus.source}}</td>
        <td>{{activeBus.destination}}</td>
        <td>{{activeBus.timeOfBoarding}}</td>
        <td>{{activeBus.timeOfDropping}}</td>
        <td>{{activeBus.dateOfJourney}}</td>
        <td>{{activeBus.totalSeats}}</td>
        <td>{{activeBus.conductor.username}}</td>
    </tr>
    </table>
    <div>
        <div>
            @for (seats of seatArray; track $index) {
                @for (seat of seats; track $index) {
               <div (click)="selectSeat(seat)">
                    {{seat}}
                    @if(selectedSeats.includes(seat))
                    {
                        +Selected
                    }
                    @if(bookedSeats.includes(seat))
                    {
                        +Already Booked
                    }
                </div>
            }
            }      
        </div>
    </div>
    <form [formGroup]="bookingForm" (ngSubmit)="payBus(activeBus)">
        <div formArrayName="passengers">
            @for (passenger of passengers.controls; track $index) {
            <div [formGroupName]="$index">
                    <input formControlName="name" placeholder="Full Name">
                    <input formControlName="seatNo" placeholder="Seat Number" readonly>
                    @if(passengers.length>1)
                    {
                        <button (click)="removePassenger($index)">-</button>
                    }
                    <br>
            </div>
            }
        </div>
        <select formControlName="source">
            @for(place of activeBus.boardingPlaces; track $index)
            {
                <option [value]="place['boardingPlace']" selected>{{place['boardingPlace']}} at {{place['boardingTime']}}</option>
            }
        </select>
        <select formControlName="destination">
            @for(place of activeBus.dropOffPlaces; track $index)
            {
                <option [value]="place['droppingPlace']" selected>{{place['droppingPlace']}} at {{place['droppingTime']}}</option>
            }
        </select>
        <input type="email" placeholder="Email Address" formControlName="email">
        Total Amount=Rs. {{amount}}
        <button type="submit">Book and Pay Later</button>
    </form>
</div>