<div class="bus-search-container">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()" class="bus-search-form">
    <fieldset class="bus-search-fieldset">
      <legend class="bus-search-legend">SEARCH BUS</legend>
    </fieldset>
    <div class="bus-search-controls-wrapper">
      <div class="bus-search-controls">
        <select formControlName="source" class="bus-search-select">
          <option selected value="">--FROM--</option>
          @for (item of search|async; track $index) {
            <option [value]="item.location"
                [hidden]="item.location === searchForm.get('destination')?.value">
            {{item.location}}</option>
          }
        </select>
        <select formControlName="destination" class="bus-search-select">
          <option selected value="">--TO--</option>
          @for (item of search|async; track $index) {
            <option [value]="item.location"
                [hidden]="item.location === searchForm.get('source')?.value">
            {{item.location}}</option>
          }
        </select>
        <input type="date" placeholder="Date of Journey" formControlName="dateOfJourney" class="bus-search-input">
        <button type="submit" class="bus-search-button">SEARCH</button>
      </div>
    </div>
  </form>
</div>
<app-bus [buses]="buses" class="bus-results"></app-bus>s