<div class="bus-list">
    @if (buses.length < 1) {
        <h1 class="no-bus">No Bus Found</h1>
    }
    @for (bus of buses; track $index) {
        <div class="bus-card">
            <h2>{{ bus.busNumber }} - {{ bus.vendorName }}</h2>
            <p><strong>From:</strong> {{ bus.source }}</p>
            <p><strong>To:</strong> {{ bus.destination }}</p>
            <p><strong>Boarding:</strong> {{ bus.timeOfBoarding }}</p>
            <p><strong>Dropping:</strong> {{ bus.timeOfDropping }}</p>
            <p><strong>Journey Time:</strong> {{ getTimeDifference(bus.timeOfBoarding, bus.timeOfDropping) }}</p>
            <p><strong>Date:</strong> {{ bus.dateOfJourney }}</p>
            <p class="seats">Seats Left: {{ bus.totalSeats - bus.bookedSeats }} / {{ bus.totalSeats }}</p>
            <button class="book-btn" (click)="bookBus(bus)">Book</button>
        </div>
        
        @if (activeBooking && activeBus==bus) { 
            <app-booking [activeBus]="activeBus"></app-booking> 
        }

    }
</div>
