<div class="ticket-container">
    <h2 class="title">Ticket Management</h2>
    <div class="ticket-header">
        <div>Ticket Number</div>
        <div>Bus Number</div>
        <div>Source</div>
        <div>Destination</div>
        <div>Date of Journey</div>
        <div>Boarding Time</div>
        <div>Dropping Time</div>
        <div>Number of Seats</div>
        <div>Booked On</div>
        <div class="payment">Paid On</div>
        <div>Amount</div>
        <div>Ticket Status</div>
    </div>

    <div class="ticket-list">
        @for (ticket of tickets; track $index) {
        <div class="ticket-item">
            <div>{{ticket.ticketNumber}}</div>
            <div>{{ticket.bus.busNumber}}</div>
            <div>{{ticket.source}}</div>
            <div>{{ticket.destination}}</div>
            <div>{{ticket.dateOfJourney}}</div>
            <div>{{ticket.boardingTime}}</div>
            <div>{{ticket.droppingTime}}</div>
            <div>{{ticket.passengers.length}}</div>
            <div>{{ticket.bookingTime}}</div>
            <div class="payment">
                @if(ticket.paymentStatus=='Unpaid') {
                    Unpaid
                }
                @else {
                    {{ticket.paymentTime}}
                }
            </div>
            <div>Rs. {{ticket.amount}}</div>
            <div>
                @if(ticket.paymentStatus=='Unpaid') {
                    Booked
                }
                @else {
                    Confirmed
                }
            </div>
            <div class="butn"><button class="cancel-btn" (click)="deleteTicket(ticket)">Cancel Ticket</button></div>
        </div>
        }
    </div>

    <button class="close-btn" (click)="sendCloseSignal()">Close</button>
</div>
