<div class="bus-details-container">
    <div class="bus-header">
        <h2>Bus: {{bus.busNumber}}</h2>
        <h3>Vendor: {{bus.vendorName}}</h3>
    </div>

    <div class="passenger-list-header">
        <div>Name</div>
        <div>Seat Number</div>
        <div>Ticket Number</div>
        <div>Boarding Place</div>
        <div>Dropping Off Place</div>
        <div>Boarding Time</div>
        <div>Dropping Time</div>
        <div>Ticket Status</div>
        <div>Actions</div>
    </div>

    <div class="passenger-list">
        @for (ticket of tickets; track $index) {
            <div class="passenger-item">
                @for (passenger of ticket.passengers; track $index) {
                    <div     class="passenger-row">
                        <div>{{ passenger['name'] }}</div>
                        <div>{{ passenger['seatNo'] }}</div>
                        <div>{{ ticket.ticketNumber }}</div>
                        <div>{{ ticket.source }}</div>
                        <div>{{ ticket.destination }}</div>
                        <div>{{ ticket.boardingTime }}</div>
                        <div>{{ ticket.droppingTime }}</div>
                        <div>{{ ticket.paymentStatus }}</div>
                        <div class="actions">
                            <button class="btn cancel-btn" (click)="deleteTicket(ticket)">Cancel Ticket</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <button class="close-btn" (click)="sendCloseSignal()">Close</button>
</div>
