Bus:{{bus.busNumber}}
Vendor:{{bus.vendorName}}
<table>
    <tr>
        <th>Name</th>
        <th>Seat Number</th>
        <th>Ticket Number</th>
        <th>Boarding Place</th>
        <th>Dropping Off Place</th>
        <th>Boarding Time</th>
        <th>Dropping Time</th>
        <th>Ticket Status</th>
        <th>Actions</th>
    </tr>

@for (ticket of tickets; track $index) {
        @for(passenger of ticket.passengers;track $index)
        {
            <tr>
                <td>{{passenger['name']}}</td>
                <td>{{passenger['seatNo']}}</td>
                <td>{{ticket.ticketNumber}}</td>
                <td>{{ticket.source}}</td>
                <td>{{ticket.destination}}</td>
                <td>{{ticket.boardingTime}}</td>
                <td>{{ticket.droppingTime}}</td>
                <td>{{ticket.paymentStatus}}</td>
            </tr>
        }
        <button (click)="deleteTicket(ticket)">Cancel Ticket</button>
}
</table>
<button (click)="sendCloseSignal()">Close</button>