<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <div class="period-selector">
        <button [class.active]="roles=='passenger'" (click)="switchRoles('passenger')">Passenger</button>
        <button [class.active]="roles=='conductor'" (click)="switchRoles('conductor')">Conductor</button>
      </div>
    <input type="text" placeholder="username" name="username" formControlName="username">
    <input type="password" placeholder="password" name="password" formControlName="password">
    <input type="email" placeholder="email" formControlName="email">
    <button type="submit">Register</button>
</form>
<div>
    <p>Already have an account
        <button (click)="oldLogin()">Login</button>
    </p>
</div>