
<form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <select formControlName="source">
        @for (item of search|async; track $index) {
            <option [value]="item.location">{{item.location}}</option>
        }
    </select>

    <select formControlName="destination">
        @for (item of search|async; track $index) {
            <option [value]="item.location">{{item.location}}</option>
        }
    </select>
    <input type="date" placeholder="Date of Journey" formControlName="dateOfJourney">
    <button type="submit">Search</button>
</form>
